<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Try Your Luck</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to try your luck with current selection ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="startPlay()">Sure!!</button>
        </div>
      </div>

    </div>
  </div>

</div>
